[submodule "naive"]
	path = naive
	url = git@github.com:valerius21/stara_astar_naive.git
[submodule "stdlib"]
	path = stdlib
	url = https://github.com/valerius21/stara_astar_stdlib
[submodule "nuitka"]
	path = nuitka
	url = https://github.com/valerius21/stara_astar_nuitka
[submodule "rust"]
	path = rust
	url = https://github.com/valerius21/stara_astar_rs
[submodule "numba"]
	path = numba
	url = https://github.com/valerius21/stara_astar_numba
[submodule "maze_generator"]
	path = maze_generator
	url = https://github.com/valerius21/Stara-Maze-Generator
[submodule "benchmark_tools"]
	path = benchmark_tools
	url = https://github.com/valerius21/stara-batch-benchmark
