[submodule "libs/naive"]
	path = libs/naive
	url = git@github.com:valerius21/stara_astar_naive.git
[submodule "libs/stdlib"]
	path = libs/stdlib
	url = https://github.com/valerius21/stara_astar_stdlib
[submodule "libs/nuitka"]
	path = libs/nuitka
	url = https://github.com/valerius21/stara_astar_nuitka
[submodule "libs/rust"]
	path = libs/rust
	url = https://github.com/valerius21/stara_astar_rs
[submodule "libs/numba"]
	path = libs/numba
	url = https://github.com/valerius21/stara_astar_numba
[submodule "tools/maze_generator"]
	path = tools/maze_generator
	url = https://github.com/valerius21/Stara-Maze-Generator
[submodule "tools/benchmarking"]
	path = tools/benchmarking
	url = https://github.com/valerius21/stara-batch-benchmark
[submodule "libs/cpp"]
	path = libs/cpp
	url = https://github.com/valerius21/stara_cpp
